<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title">Change Note Setting</span>
      </div>
      <div class="panel-body">
        <%= custom_form_for(@part, bootstrap3_form_options) do |f| %>
          <%= f.error_notification %>

          <%= f.input :title %>
          <%= f.input :brand %>
          <%= f.input :describe %>
          <%= f.input :detail_num %>
          <%= f.input :o_e %>
          <%= f.input :own_id %>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-2">
              <%= f.button :submit, "Save", class: "btn-primary btn-block" %>
            </div>
            <div class="col-sm-2">
              <%= link_to("Cancel", parts_path, class: "btn btn-default btn-block") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
