<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">UpParser</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= form_tag parts_path, method: :get, class: 'form-control form-control-dark w-90', style: "padding: 0px" do %>
<!--    <div class="modal-body">-->
<!--      <input type="text" class="cbk_date form-control" name="cbk_date"/>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
      <%#= submit_tag 'Schedule callback', class: "btn btn-primary" %>
<!--    <input class="form-control form-control-dark w-90" type="text" placeholder="Search" aria-label="Search">-->
    <%= text_field_tag("keyword", params[:keyword], class: "form-control form-control-dark w-90", placeholder: "Search", aria_label: "Search") %>

    <!--    </div>-->
  <% end %>
  <div class="navbar-nav" style="display: inline-block">
    <div class="nav-item text-nowrap" style="display: inline-flex;">
<!--      <a class="nav-link px-3" href="#">Sign out</a>-->
      <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "nav-link px-3" %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path, class: "nav-link px-3" %>
<!--        <div style="padding: 0.5rem 1rem; font-size: 0.875rem;">или</div>-->
        <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "nav-link px-3" %>
      <% end %>
    </div>
  </div>
</header>